* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color:gray;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
}
.nav {
    display: flex;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

.nav-link {
    color : white;
    text-decoration: none;
}

.products-container {
    min-height: 30vh;
    display: grid;
    place-items: center;
}

.item-list-container {
    max-width: 1000px;
    margin: 0 auto;
}

.productos-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.producto {
    background-color: gray;
    border-radius: .5rem;
    padding: 1rem;
}

body {
    background-color: black;
    color: white; 
}

footer {
    margin-top: 10rem;
}